$app-prefix: mf-menu;

$resolution-35em: 35em;

$panel-menu-width: 250px;
$panel-menu-short-width: 50px;

$pix-20: 20px;
$pix-30: 30px;
$pix-40: 40px;
$pix-50: 50px;
$pix-60: 60px;
$pix-150: 150px;
$pix-200: 200px;

$per-50: 50%;
$per-100: 100%;

$white: #fff;